/*===================================================
=====================================================
Developer: Casey Clair
Table of Contents
1. Global Styles
2. Nav Styles
3. Section Specific Styles
4. Footer styles
5. Form styles
6. Media Queries (mobile and tablet styles)

Color Palette:
#28344f (Navy Blue)
#39d6ed (Sky blue)
#f68632 (Orange)
#ff5576 (Pink)
#ededed (off-white)
=====================================================
====================================================*/



/*========================
1. Global Styles
=========================*/

body {
     font-family: 'Montserrat',Helvetica,sans-serif;
     font-weight: 400;
     line-height: 1.8;
     color: #ededed;
   }

p {
    font-size: 1.2em;
    margin: 1.2em .7em;
  }

  h1,h2 {
      font-family: 'Julius Sans One',Helvetica,sans-serif;
      font-weight: 700;
  }

  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto 1em auto;
  }
  h3{
    font-size: 1.5em;
    margin-left: .5em;
    color: #f68632;
  }
  .button,.button:visited{
    background: transparent;
    border-radius: 4px;
    border-style: none;
    border: 4px solid #ededed;
    color: #ededed;
    padding: .5em;
    text-transform: uppercase;
  }
  .button:hover{
    background: #f68632;
    border-color: #ac5d23;
  }
  .button:active{
    background: #ff5576;
    border-color: #b23b52;
  }
   a:hover{
    color: #ededed;
    text-decoration: none;
  }
  a.top-link,a.top-link:visited{
    color: #ededed;
    display: block;
    margin-top: 1.5em;
    text-decoration: underline;
  }
  a.top-link:hover{
    color: #f68632;
  }
  a.top-link:active{
    color: #ff5576;
  }

  #about img{
    border: 4px solid #28344f;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }
  section.light-bg {
    background: #39d6ed;
    color: #28344f;
  }
  #about,#portfolio,#skills,#contact{
    padding: 4em 0;
  }

  section.dark-bg {
    background: #28344f;
  }
  section.light-bg,section.dark-bg{
    padding: 2em 0;
  }
  .logo{
    background: #ededed;
    float: left;
    height: 65px;


  }
  .logo img{
    display: inline-block;
    margin-top: -38px;
  }
  .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
  }
  .centered{
    text-align: center;
  }

/*========================
2. Nav Styles
=========================*/

nav{
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 1030;
}

nav ul{
	background-color: #ededed;
	overflow: hidden;
	color: #28344f;
	padding: 0;
	text-align: justify;
	margin: 0;
	transition: max-height 0.5s;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	color: #28344f;
  display: block;
  padding: 20px;
  text-decoration: none;
}
nav ul li a:hover{
  text-decoration: none;
  background: #f68632;
}
nav ul li a:active{
  background: #ff5576;
}

.menu-icon{
	width: 100%;
	background: #ededed;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: #28344f;
	display: none;
	text-align: right;
}

@media (max-width: 580px){
  nav{
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1030;
  }
	nav ul{
    background: #ededed;
		max-height: 0px;
    position: relative;
	}

	.expanded{
		max-height: 20em;
	}

	nav ul li{
    border-top: 1px solid #ccc;
		box-sizing: border-box;
    display: inline-block;
    padding: 0;
		width: 100%;
		text-align: center;
	}
  nav ul li a{
    display: block;
    padding: 15px;
  }
  nav ul li a:hover{
    background: #f68632;
  }
  nav ul li a:active{
    background: #ff5576;
  }

	.menu-icon{
		display: block;
	}
}


/*========================
3. Section Specific Styles
=========================*/

.header {
  background: url('../img/mountains-small.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.intro h1{
  font-size: 3em;
}
.intro-content{
  margin: 7em auto 0 auto;
}
.project-wrapper{
  background: #ededed;
  height: auto;
}
.project-wrapper a{
  color: #28344f;
}
.project-wrapper h3{
  background: #39d6ed;
  color: #28344f;
  margin: 0;
  text-align: center;
  width: 100%;
}
.project-wrapper a:hover{
  text-decoration: none;
}
.project-wrapper:hover,.project-wrapper:focus{
  box-shadow: 0 0 0 4px #f68632;
  transition: .5s;
}
.project-wrapper:active{
  box-shadow: 0 0 0 4px #ff5576;
}
.project-content{
  background: #dbdbdb;
}
figure{
  display: block;
  background-color: #000;
  margin: 0;
  padding: 0;
}
figure img{
  display: block;
  max-width: 100%;
  height: auto;
}
strong{
  color: #f68632;
}
.three strong,.five strong{
  display: inline-block;
  padding-bottom: 3.5em;
}
.skill-box{
  border: 4px solid #28344f;
  background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(51%, rgba(219,219,219,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(237,237,237,1) 100%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(237,237,237,1) 100%);
  height: 100px;
  text-align: center;
  margin-bottom: 1em;
}
#skills h3{
  color: #28344f;
  font-family: 'Julius Sans One',Helvetica,sans-serif;
  margin-top: 1em;
}
#contact p{
  margin: 0 auto 1.5em auto;
}

/*========================
4. Footer styles
=========================*/
footer{
  background: #ededed;
  color: #28344f;
  height: 85px;
}
.social-list{
  display: table;
  margin: 1.4em auto 0 auto;
}
.social-list li{
  display: inline;
  margin: 0 .8em 0 auto;
  text-decoration: none;
}

/*========================
5. Form styles
=========================*/

input,textarea{
  border-style: none;
  border-radius: 4px;
  padding: .5em;
  width: 95%;
}
label{
  margin: .5em auto .5em auto;
}

input[type="email"]:focus,input[type="text"]:focus,textarea:focus,select:focus {
  outline: 1px solid #39d6ed;
}
input[type="submit"]{
  background: #39d6ed;
  border-radius: 4px;
  border-style: none;
  border-bottom: 4px solid #2795a5;
  color: #ededed;
  padding: .4em;
  text-transform: uppercase;
  width: 4em;
}

input[type="submit"]:hover{
  background: #f68632;
  border-color: #ac5d23;
}

/*========================
6. Media Queries
=========================*/

/* Small devices */

@media (min-width: 768px) {
p {
  font-size: 1.4em;
}

h2{
  font-size: 3em;
}
.header {
  background: url('../img/mountains-medium.jpg') no-repeat;
  background-size: cover;
  height: 700px;
}
.intro h1{
  font-size: 3.5em;
}
.intro-content{
  margin: 7.5em auto 0 auto;
}
input,textarea{
  padding: .7em;
  width: 75%;
}
input[type="submit"]{
  width: 6em;
 }

}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
p {
  font-size: 1.7em;
}
h2{
  font-size: 3.5em;
}
.header {
  background: url('../img/mountains-large.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}
.intro h1{
  font-size: 4em;
}
.intro-content{
  margin: 8em auto 0 auto;
}
#about img{
  max-width: 100%;
  margin: 2.8em 1.5em .5em auto;

  }
input,textarea{
  width: 55%;
  }
  input[type="submit"]{
    width: 8em;
  }
}
@media (min-width: 581px) {
  .logo{
    height: 68px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .two strong{
    display: inline-block;
    padding-bottom: 0;
  }
}
